@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #dfae6e;
    --color-gray: #4D4D4D;
}

::selection {
    background: var(--color-primary);
    color: white;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

a {
    text-decoration: none;
}

button {
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 99px;
    background: var(--color-primary);
    color: white;
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    height: fit-content;
}

section {
    padding-inline: 5%;
    padding-block: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    overflow: hidden;
    max-width: 2000px;
    margin: auto;
    position: relative;
}

.title span {
    color: var(--color-primary);
}

.small-title,
.small-title span {
    font-family: 'Pacifico', cursive;
}

@media screen and (max-width: 1024px) {
    section {
        flex-direction: column;
        align-items: start;
        gap: 1.5rem;
    }
}